.compose-btn-container {
  margin: 16px 16px 32px 16px;

  a {
    height: 56px;
    width: 100%;
    border-radius: 16px !important;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0;
    background-color: #212121;
    color: #FFF;

    ::ng-deep svg {
      fill: currentColor;
    }

    app-icon {
      display: inline-flex !important;
      margin-right: 24px;
    }
  }
}
