:host {
  display: block;
}

.simple-endpoint, a {
  color: inherit;
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }
}

.item {
  display: flex;
  gap: 16px;

  .author-image-renderer {
    width: 40px;
    height: 40px;
  }

  &__right {
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    align-items: center;
    color: var(--on-surface-variant);

    &--bracket {
      margin: 0 4px;
    }


  }

}


.bountie {
  font-size: 12px;
  border-radius: 4px;
  background-color: #ee000024;
  color: black;
  // display: flex;
  /* padding: 4px; */
  line-height: 17px;
  padding: 1px 4px;
  margin-right: 4px;
  /* letter-spacing: 1.5px; */
  font-weight: 400;
  font-family: Archivo, sans-serif;
  display: none;
}

.flex-cl {
  display: flex;
  align-items: center;
}

.check-icon {
  line-height: 1;
  font-size: 10px;
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #6200ee;
  color: #fff;
  border-radius: 50%;
  margin: 0 8px;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
mat-chip-list {
  display: inline-flex;
  flex-direction: row;
  margin-top: 12px;
  padding-bottom: 16px;
}

::ng-deep .mat-mdc-standard-chip {
  // margin: 0 8px 0 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
.mat-mdc-chip.mat-mdc-standard-chip.mat-chip-selected.mat-primary {
  background-color: #6200ee12;
  color: #6200ee;
  border-color: #6200ee54;
}

.mat-mdc-basic-chip {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  // background-color: transparent;
  margin: 0 4px 0 0;
  // height: 24px;
  // font-size: 12px;
  border-radius: 34px;
  padding: 4px 0;
  // text-transform: lowercase;
}

@media (max-width: 599px) {
  .list-item {
    padding-left: 24px;
  }

  .subtitle-1 {
    padding-right: 24px;
  }

  .filter {
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    mat-chip-list {
      display: flex;
      margin: 20px 0 0;
      overflow: auto;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    mat-chip-list a:hover {
      text-decoration: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    mat-chip-list a {
      cursor: pointer;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    ::ng-deep .mat-chip-list-wrapper {
      flex-wrap: nowrap !important;
      margin: 0 !important;
      padding: 0 8px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    ::ng-deep .mat-chip-list::-webkit-scrollbar {
      display: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    mat-chip {
      white-space: nowrap;
    }
  }
}


.angular-svg {
  display: flex;
  width: 20px;
  height: 20px;
}

.post1 {
  display: flex;
}

.answer-mini-post {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(0 0 0 / 60%);
  margin-left: 16px;

  mat-icon, svg {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  img {
    display: flex;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}
