<!--<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="sheet-title">Harbi.dev</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button (click)="closeSidenav()">
    <app-icon name="menu_open" />
  </button>
</mat-toolbar>-->

<div class="scroll-container thin-scrollbar">

  <app-nav-drawer-compose />

  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" #rla="routerLinkActive" routerLink="/"
       [routerLinkActiveOptions]="{exact: true}"
       (click)="onClicked()" title="Ana sayfa">
      <app-home-icon [isActive]="rla.isActive" matListItemIcon />

      Ana sayfa
    </a>
    <!--    <a mat-list-item routerLinkActive='active' #rla='routerLinkActive' routerLink='/'
           [routerLinkActiveOptions]='{exact: true}'
           (click)='onClicked();' title='Ana sayfa'>
          &lt;!&ndash;<app-icon name='home' matListItemIcon />&ndash;&gt;
          Ana sayfa
        </a>-->
    <a mat-list-item routerLinkActive="active" routerLink="/list" (click)="onClicked()">
      <app-icon name="forum" matListItemIcon />
      Sorularım
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/favorites" (click)="onClicked()">
      <app-icon name="favorite" matListItemIcon />
      Favoriler
    </a>
  </mat-nav-list>


<!--  <mat-nav-list>
    <div matSubheader>Sayfalar</div>

    <a mat-list-item routerLinkActive="active" routerLink="/users" (click)="onClicked()">
      <app-icon name="people" matListItemIcon />
      Kullanıcılar
    </a>

    <a mat-list-item routerLinkActive="active" routerLink="/tags" (click)="onClicked()">
      <app-icon name="label" matListItemIcon />
      Etiketler
    </a>

  </mat-nav-list>-->

  <mat-divider />
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/settings" (click)="onClicked()">
      <mat-icon matListItemIcon>settings</mat-icon>
      Hesap & ayarlar
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/flags" (click)="onClicked()">
      <mat-icon matListItemIcon>flag</mat-icon>
      İçerik bildirme geçmişi
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/help" (click)="onClicked()">
      <mat-icon matListItemIcon>help</mat-icon>
      Yardım
    </a>
    <a mat-list-item routerLinkActive="active" (click)="onClicked(); openFeedbackDialog()">
      <mat-icon matListItemIcon>feedback</mat-icon>
      Geri bildirim gönder
    </a>
  </mat-nav-list>
  <mat-divider />
  <div id="copyright">© 2022 Google LLC</div>
</div>
