<form id="search-form" (submit)="formSubmit($event)">
  <div class="search-form" matAutocompleteOrigin #origin="matAutocompleteOrigin"
       [class.search-form-opened]="autocompleteOpened">
    <button mat-icon-button aria-label="Ara" matTooltip="Ara" disabled>
      <app-icon name="search"/>
    </button>
    <input aria-label="Ara" autocomplete="off" spellcheck="false" placeholder="Ara"
           (input)="openedSuggestionList = true"
           #autocompleteTrigger="matAutocompleteTrigger"
           matAutocompletePosition="below"
           [formControl]="searchControl"
           [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
    <!--    <mat-icon *ngIf="searchControl.value.length">close</mat-icon>-->
  </div>
</form>

<!--<button mat-icon-button aria-label='Sesle arama yapın' (click)='searchWithAudio()' matTooltip='Sesle arama yapın'>
  <svg viewBox='0 0 24 24'>
    <g>
      <rect fill='none' height='24' width='24' />
      <rect fill='none' height='24' width='24' />
      <rect fill='none' height='24' width='24' />
    </g>
    <g>
      <g />
      <g>
        <path d='M12,14c1.66,0,3-1.34,3-3V5c0-1.66-1.34-3-3-3S9,3.34,9,5v6C9,12.66,10.34,14,12,14z' />
        <path
          d='M17,11c0,2.76-2.24,5-5,5s-5-2.24-5-5H5c0,3.53,2.61,6.43,6,6.92V21h2v-3.08c3.39-0.49,6-3.39,6-6.92H17z' />
      </g>
    </g>
  </svg>
</button>-->

<!--
<form id="search-form" (submit)="formSubmit($event)" #trigger>
  <div class="search-form"
       [class.search-form-opened]="autocompleteOpened">
    <button mat-icon-button aria-label="Ara" matTooltip="Ara" disabled>
      <app-icon name="search"/>
    </button>
    <input id="search-form-input" aria-label="Ara" autocomplete="off" spellcheck="false" placeholder="Ara" #inputElement
           (focus)="inputFocused(inputElement)"
           (input)="openedSuggestionList = true" [formControl]="searchControl">
  </div>
</form>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]='trigger'
  [cdkConnectedOverlayOpen]='openedSuggestionList'
  (overlayOutsideClick)="outsideClicked($event)">
  <div id="suggestion-list" class="mat-elevation-z4">
    <ng-container *ngIf="filteredResults$ | async as filteredResults">

      <div class="search-suggestion-section">
        <div class="suggestions">
          <mat-nav-list>
            <div mat-subheader>Kullanıcılar</div>
            <mat-list-item *ngFor="let user of filteredResults.users">
              <img matListItemAvatar class="user-picture" src="{{user.picture}}" alt="">
              <span class="user-display-name">{{user.displayName}}</span>
            </mat-list-item>
          </mat-nav-list>
          &lt;!&ndash;    <a *ngFor="let user of filteredResults.users" routerLink="`/user/{{user.id}}`">
                <img class="user-picture" src="{{user.picture}}" alt="">
                <span class="user-display-name">{{user.displayName}}</span>
              </a>&ndash;&gt;
        </div>
      </div>
    </ng-container>
  </div>

</ng-template>
-->

<!--
<ng-container *ngIf="openedSuggestionList">
  <h3>search suggestions...</h3>
</ng-container>
-->

<mat-autocomplete #auto="matAutocomplete" class="my-autocomplete mat-elevation-z0"
                  hideSingleSelectionIndicator
                  [displayWith]="displayFn"

                  (opened)="onOpenedAutocomplete()" (closed)="onClosedAutocomplete()"
                  (optionSelected)="selectedOption($event)">

  <ng-container *ngIf="filteredResults$ | async as filteredResults">
    <mat-optgroup label="Sorular" *ngIf="filteredResults.questions" class="optgroup-label">
      <mat-option *ngFor="let question of filteredResults.questions" [value]="question">
        <span [innerHTML]="question.title | highlightSearch: searchControl.value"></span>
      </mat-option>
    </mat-optgroup>

    <mat-optgroup label="Etiketler" *ngIf="filteredResults.tags">
      <mat-option *ngFor="let tag of filteredResults.tags" [value]="tag">
        <span [innerHTML]="tag.title | highlightSearch: searchControl.value"></span>
      </mat-option>
    </mat-optgroup>

    <mat-optgroup label="Kullanıcılar" *ngIf="filteredResults.users">
      <mat-option *ngFor="let user of filteredResults.users" [value]="user" class="user-option">
        <img class="option-user-img" src="{{user.picture}}" alt="">
        <span class="user-display-name">{{user.displayName}}</span>
      </mat-option>
    </mat-optgroup>

    <!--  <div id="suggestion-list">
        <div class="search-suggestion-section">
          <div class="suggestions">
            <mat-nav-list>
              <div mat-subheader>Kullanıcılar</div>
              <mat-list-item *ngFor="let user of filteredResults.users">
                  <img matListItemAvatar class="user-picture" src="{{user.picture}}" alt="">
                <span class="user-display-name">{{user.displayName}}</span>
              </mat-list-item>
            </mat-nav-list>
        &lt;!&ndash;    <a *ngFor="let user of filteredResults.users" routerLink="`/user/{{user.id}}`">
              <img class="user-picture" src="{{user.picture}}" alt="">
              <span class="user-display-name">{{user.displayName}}</span>
            </a>&ndash;&gt;
          </div>
        </div>
      </div>-->

  </ng-container>

  <div class="autocomplete-action-row">
    <a mat-button color="primary" routerLink="/search" [queryParams]="{q: searchControl.value}"
       (click)="closeAutocomplete()">
      "{{searchControl.value}}" için tüm sonuçları göster
    </a>
  </div>
</mat-autocomplete>
