<div class='container'>

  <!-- Tab -->
  <button mat-button [matMenuTriggerFor]='tabMenu'>
    <span>Senin için önerilenler</span>
    <app-icon name='keyboard_arrow_down' />
  </button>

  <mat-menu #tabMenu overlapTrigger>
    <button mat-menu-item>
      Senin için önerilenler
    </button>
    <button mat-menu-item>
      Tüm sorular
    </button>
  </mat-menu>

  <!-- Sort By -->
  <button mat-button class='menu-button' [matMenuTriggerFor]='sortMenu' matTooltip='Soruları sırala'>
    <app-icon name='sort' />
    <span>Sıralama ölçütü</span>
  </button>

  <!-- Filter By -->
  <button mat-button class='menu-button' [matMenuTriggerFor]='filterMenu' matTooltip='Arama filtreleri'>
    <mat-icon>tune</mat-icon>
    <span>Filtreler</span>
  </button>
</div>

<mat-menu #sortMenu='matMenu' class='sort-menu'>
  <ng-template matMenuContent>
    <a
      [disabled]='item.disabled'
      mat-menu-item
      class='inek-menu-item'
      routerLink='/'
      [queryParams]='{ sort: item.sort ? item.sort : null }'
      *ngFor='let item of items; let index = index'
      #menuItem
      [class.inek-menu-item-active]='selectedIndex === index'
      (click)='menuItemClicked(menuItem, index)'
    >
      {{ item.label }}
    </a>
  </ng-template>
</mat-menu>

<mat-menu #filterMenu='matMenu' class='sort-menu'>
  <ng-template matMenuContent>
    <button
      mat-menu-item
      class='inek-menu-item'
      *ngFor='let filter of filters; let index = index'
      (click)='filterMenuItemClicked(index)'
    >

      <app-icon matMenuItemIcon name='check' *ngIf='filter.checked' />
      {{ filter.viewValue }}
    </button>
    <span class='divider-text'>ÖZEL FİLTRELER</span>
    <div class='overflow-filter-container'>
      <button mat-menu-item>Unanswered my tags</button>
      <button mat-menu-item>TypeScript</button>
      <button mat-menu-item>Angular unanswered</button>
      <button mat-menu-item>My Tags</button>
    </div>
  </ng-template>
</mat-menu>
