<mat-toolbar>
  <div class='mat-toolbar__start'>
    <button mat-icon-button aria-label='Open navigation drawer' (click)='toggleSidenav()' class='menu-button'>
      <app-icon name='menu' />
    </button>
    <app-top-app-bar-logo />
  </div>

  <div class='mat-toolbar__center center-content'>
    <ng-container *ngIf='!(isHandset$ | async)' [ngComponentOutlet]='searchFormComponentOutlet' />
  </div>

  <div class='mat-toolbar__end'>
    <ng-container *ngIf='isLoggedIn$ | async; else signIn'>

      <!--         <button mat-icon-button matTooltip='İncelemeler'>
                 <mat-icon class='material-icons-outlined' matBadge='4' matBadgeColor='warn'>rate_review</mat-icon>
               </button>-->
             <!--  <button mat-icon-button class='badge-icon' aria-label='Achievements (2 new reputation)' aria-haspopup='true'
                       title='You have new reputation changes' role='menuitem' aria-expanded='false'>
                 <app-icon name='award' matBadge='+2'></app-icon>
               </button>-->

      <ng-container *ngIf='componentsLoaded; else componentNotLoaded'>
        <ng-container *ngIf='!(isHandset$ | async)'>

          <button mat-icon-button (click)='openSheet.emit()' matTooltip='Filtre'>
            <app-icon name='tune' />
          </button>

          <!-- Notification Button -->
          <ng-container *ngComponentOutlet='NotificationButtonComponent' />

          <!-- Avatar Button -->
          <ng-container *ngComponentOutlet='AvatarButtonComponent' />
        </ng-container>

        <ng-container *ngIf='(isHandset$ | async)'>
          <!-- Search Button -->
          <a mat-icon-button routerLink='/search'>
            <app-icon name='search' />
          </a>

          <!-- Notification Button -->
          <ng-container *ngComponentOutlet='NotificationButtonComponent' />

          <!-- Avatar Button -->
          <ng-container *ngComponentOutlet='AvatarButtonComponent' />
        </ng-container>
      </ng-container>

      <ng-template #componentNotLoaded>
        <div class='masthead-skeleton-icon'></div>
        <div class='masthead-skeleton-icon'></div>
        <div class='masthead-skeleton-icon'></div>
      </ng-template>

      <!--<inek-notification-button></inek-notification-button>-->
      <!-- <inek-avatar-button></inek-avatar-button>-->

    </ng-container>
  </div>

  <!--  <mat-progress-bar mode="indeterminate" *ngIf="spinner$ | async"></mat-progress-bar>-->

</mat-toolbar>

<ng-template #signIn>
  <ng-container *ngIf='isHandset$ | async'>
    <a mat-icon-button routerLink='/search'>
      <app-icon name='search' />
    </a>

    <a mat-icon-button routerLink='/login'>
      <app-icon name='account_circle' />
    </a>
  </ng-container>

  <ng-container *ngIf='!(isHandset$ | async)'>
    <button mat-icon-button [matMenuTriggerFor]='settingsMenu' matTooltip='Ayarlar'>
      <app-icon name='more_vert' />
    </button>

    <a mat-stroked-button color="primary" routerLink='/login' (click)='signInButtonClicked()'>
      Oturum aç
    </a>

    <!-- Apps Menu -->
    <mat-menu #appsMenu>
      <ng-template matMenuContent>
        <button mat-menu-item>
          <span>Blog</span>
        </button>
      </ng-template>
    </mat-menu>

    <mat-menu #settingsMenu xPosition='before'>
      <ng-template matMenuContent>
        <button mat-menu-item>
          <app-dark-mode-icon matMenuItemIcon />
          Görünüm: Cihaz teması
        </button>
        <a routerLink="/settings" mat-menu-item>
          <app-settings-icon matMenuItemIcon />
          Ayarlar
        </a>
        <a mat-menu-item routerLink='/help'>
          <mat-icon>help_outline</mat-icon>
          <span>Yardım</span>
        </a>
        <button mat-menu-item>
          <mat-icon>feedback</mat-icon>
          <span>Geri bildirim gönder</span>
        </button>
        <button mat-menu-item>
          <app-keyboard-icon matMenuItemIcon />
          Klavye kısayolları
        </button>
      </ng-template>
    </mat-menu>

  </ng-container>
</ng-template>

