@use '@angular/material' as mat;
@use 'deep-purple-light' as lightpurple;

$my-palette: mat.define-palette(lightpurple.$deep-purple-palette);

/* Define a light theme */
$light-primary: mat.define-palette(lightpurple.$deep-purple-palette, PURPLE40);
$light-accent: mat.define-palette(lightpurple.$deep-purple-palette);

/*$light-primary: mat.define-palette(mat.$gray-palette, 900);
$light-accent: mat.define-palette(mat.$amber-palette);*/

$my-typography: mat.define-typography-config(
  $font-family: "Archivo, Roboto, sans-serif"
);

/*$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent
  ),
  typography: $my-typography
));*/

/* Gray Theme */
$gray-theme-primary: mat.define-palette(mat.$gray-palette, 900);
$gray-theme-accent: mat.define-palette(mat.$gray-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent
  ),
  typography: $my-typography
));

// $gray-theme-warn: mat.define-palette($mat-red);

$gray-theme: mat.define-light-theme((
  color: (
    primary: $gray-theme-primary,
    accent: $gray-theme-accent
  )
));

$secondary-gray-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$gray-palette, 900),
    accent: mat.define-palette(mat.$gray-palette)
  )
));

@include mat.all-component-themes($light-theme);


:root {
  // color-scheme: light;
  --color: #1C1B1F;
  --medium-emphasis-color: rgba(0, 0, 0, 0.6);
  --card-bg-color: #fff;
  --text-color: rgba(0, 0, 0, .87);
  --icon-color: rgba(0, 0, 0, .6);
  --code-background: white;
  --border-color: rgba(0, 0, 0, .12);
  --scrollbar-color: #00000060 transparent;
  --scrollbar-bg-color: #fafafa;
  --scrollbar-thumb-background: #c2c2c2;
  --thumb-bg-hover: #7d7d7d;
  --on-surface-variant: #49454F;
  --mdc-outlined-button-outline-color: #79747E;
  --tertiary-container-color: #FFD8E4;
  --on-tertiary-container-color: #31111D;
  --m-3-sys-light-surface-container-high: #ECE6F0;
  --mat-sidenav-container-background-color: #FFFBFA;
  --mat-sidenav-content-background-color: #FFFBFA;
  --mat-toolbar-container-background-color: var(--mat-sidenav-content-background-color);
  --mat-toolbar-standard-height: 72px;
  --mat-autocomplete-background-color: var(--m-3-sys-light-surface-container-high);
  --mat-divider-color: #CAC4D0;
  --mat-menu-container-color: #F3EDF7;
  --mdc-filled-button-container-shape: 100px;
  --mdc-text-button-container-shape: 100px;
  --mat-badge-background-color: #B3261E;

}


// Override chips theme
/*.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected, .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
  --mdc-chip-elevated-container-color: #fff;
  --mdc-chip-label-text-color: black;
  border: none;
  border: 1px solid rgba(0,0,0,.32);

  a {
    color: black;
  }
}

.mat-mdc-standard-chip {
  --mdc-chip-elevated-container-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12)
}*/

/**
  Highlight.js
 */
@import "highlight.js/scss/github";

.mat-mdc-icon-button svg {
  fill: var(--on-surface-variant);
}

svg {
  fill: var(--on-surface-variant);
}

.mat-mdc-list-item.active {
  background-color: #E8DEF8;

  .mdc-list-item__primary-text {
    color: black;
    font-weight: 500;
  }

  mat-icon {
    color: black !important;
    // color: var(--mdc-theme-primary) !important;
  }

  .mat-mdc-list-item-icon svg {
    // fill: var(--mdc-theme-primary);
    // fill: mat.get-color-from-palette($my-palette, 500)
    fill: black;
  }
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 40px;
}

