.mat-mdc-dialog-container {
  --mdc-dialog-container-color: var(--m-3-sys-light-surface-container-high) !important;
  --mdc-dialog-container-shape: 28px !important;
  --mdc-dialog-container-elevation-shadow: none !important;
}
