/*
.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #6750A4 !important;
  --mdc-linear-progress-track-color: #E6E0E9 !important;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #6750A4 !important;
}
*/
