.mat-mdc-tab-header {
  --mdc-tab-indicator-active-indicator-height: 3px !important;
  --mdc-tab-indicator-active-indicator-shape: 3px 3px 0 0 !important;
  --mdc-secondary-navigation-tab-container-height: 48px !important;
}
