.m3-display-large {
  /* M3/display/large */
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  // letter-spacing: -0.25px;
  color: #000000;
}

.m3-display-medium {
  /* M3/display/medium */
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  color: #000000;
}

.m3-display-small {
  /* M3/display/small */
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.m3-headline-large {
  /* M3/headline/large */
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 125% */
  font-stretch: semi-expanded;
}

.m3-headline-medium {
  /* M3/headline/medium */
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
}

.m3-headline-small {
  /* M3/headline/small */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.m3-title-large {
  /* M3/title/large */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.m3-title-medium {
  /* M3/title/medium */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  // letter-spacing: 0.15px;
}

.m3-title-small {
  /* M3/title/small */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  // letter-spacing: 0.1px;
  color: #000000;
}

.m3-body-large {
  /* M3/body/large */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.m3-body-medium {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}

.m3-body-small {
  /* M3/body/small */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.m3-label-large {
  /* M3/label/large */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  // letter-spacing: 0.1px;
  color: #000000;
}

.m3-label-medium {
  /* M3/label/medium */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  // letter-spacing: 0.5px;
  color: #000000;
}

.m3-label-small {
  /* M3/label/small */
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  // letter-spacing: 0.5px;
  color: #000000;
}
