/*.outlined-menu-button[aria-expanded=true] {
  background: #000;
}*/

.mdc-button {
  --mdc-typography-button-letter-spacing: 0;
}

.mat-mdc-chip-set {
  margin: 4px 0 8px 0;
}

.flex-spacer {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


.headline-6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .15px;
}

/* HLJS */
.hljs {
  display: unset;
  overflow-x: unset;
  padding: 0;
  color: unset;
  background: transparent !important;
}

/*::selection {
  background: #6200ee12;
  color: #000;
}*/

// M3 typo

.headline-large {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  // font-family: 'Roboto Flex', sans-serif;
  font-variation-settings: "wght" 100, "wdth" 100, "opsz" 8;
}

.m3-headline-small {
  //styleName: M3/headline/small;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-line-height: 32px;
  --mdc-dialog-subhead-size: 24px;
  --mdc-dialog-subhead-weight: 400;
  --mdc-dialog-supporting-text-size: 14px;
  --mdc-dialog-supporting-text-line-height: 20px;
}

@import "m3.text.sys";
@import "m3.button.sys";
@import "m3.chips.sys";
@import "m3.list.sys";
@import "m3.tabs.sys";
@import "m3.menu.sys";
@import "m3.progress-indicators.sys";
@import "m3.dialog.sys";
