@use '@angular/material' as mat;
@use 'themes/deep-purple-light' as light-theme;

$my-palette: light-theme.$deep-purple-palette;

/*.outlined-menu-button[aria-expanded=true] {
  background: #000;
}*/


/**
  Material Design Reset
  START
 */
.mat-mdc-dialog-container {
  border-radius: 28px !important;
}

@media (prefers-color-scheme: dark) {
  .mat-mdc-dialog-container {
    background-color: #383838 !important;
  }
}

.mat-mdc-chip-set {
  margin: 4px 0 8px 0;
}

.flex-spacer {
  flex: 1 0 auto;
}

/**
  use mobile version tooltip
 */
.mdc-tooltip__surface {
  padding: 8px !important;
}

.page-description {
  margin: 0;
  color: var(--medium-emphasis-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.headline-2 {
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

.headline-3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.headline-4 {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
}

.headline-5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.headline-6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .15px;
}

.subtitle-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  // letter-spacing: .15px;
}

.subtitle-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .1px;
}

.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
}

.body-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .25px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .4px;
}

.overline {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* HLJS */
.hljs {
  display: unset;
  overflow-x: unset;
  padding: 0;
  color: unset;
  background: transparent !important;
}

::selection {
  background: #6200ee12;
  color: #000;
}


