<div class='popup-page mat-elevation-z3'>
  <header>
    <img class='user-profile-avatar' src='{{user.picture}}' alt='{{user.displayName}}'>
    <div>
      <div class='title'>{{user.displayName}}</div>
      <div class='subtitle'>{{user.email}}</div>
    </div>
  </header>

  <section>
    <mat-nav-list>
      <a mat-list-item routerLink='/settings'>
        <app-icon name='settings' matListItemIcon />
        <span>Hesap & ayarlar</span>
      </a>
      <a mat-list-item routerLink='/help'>
        <app-icon name='help' matListItemIcon />
        <span>Yardım</span>
      </a>
      <mat-list-item (click)='logout()'>
        <app-icon name='logout' matListItemIcon />
        <span>Oturumu kapat</span>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider />

    <mat-nav-list>
      <a mat-list-item routerLink='/settings'>
        <app-icon name='dark_mode' matListItemIcon />
        <span>Görünüm: Cihaz Teması</span>
        <mat-slide-toggle checked></mat-slide-toggle>
      </a>
      <a mat-list-item routerLink='/settings'>
        <app-icon name='keyboard' matListItemIcon />
        <span>Klavye kısayolları</span>
      </a>
    </mat-nav-list>

  </section>
</div>
