:host {
  display: block;
  width: 360px;
}

.popup-page {
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  background: #F7F2FA;
  /* M3/Elevation Light/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

  header {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px;
    border-radius: 28px;
  }

  .user-profile-avatar {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.avatar {
  display: inline-flex;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--medium-emphasis-color);
}

mat-nav-list {
  padding-top: 0;
}

:host .mat-mdc-list-item {
  height: 40px;
}

mat-icon {
  color: var(--medium-emphasis-color);
}

span {
  margin-left: 16px;
}

section {
  overflow: auto;
}
