<!--<div>
  <button mat-icon-button>
    <app-icon name="menu" />
  </button>
</div>-->

<div class="big-fab-container">
  <button mat-fab class="fab-elevation-override">
    <mat-icon>
      <app-icon name="edit" />
    </mat-icon>
  </button>
</div>

<div class="items">

  <div class="item">
    <a routerLink="/" class="active">
      <button mat-icon-button color="primary">
        <mat-icon>
          <app-icon name="home"/>
        </mat-icon>
      </button>
      <span class="title">Ana Sayfa</span>
    </a>
  </div>

  <div class="item">
    <a routerLink="/">
      <button mat-icon-button>
        <mat-icon>question_answer</mat-icon>
      </button>
      <span class="title">Sorular</span>
    </a>
  </div>

  <div class="item">
    <a routerLink="/">
      <button mat-icon-button>
        <mat-icon>library_books</mat-icon>
      </button>
      <span class="title">Kitaplık</span>
    </a>
  </div>

<!--  <div class="item">
    <a routerLink="/" class="active">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <span class="title">Ana Sayfa</span>
    </a>
  </div>

  <div class="item">
    <a routerLink="/">
      <button mat-icon-button>
        <mat-icon>question_answer</mat-icon>
      </button>
      <span class="title">Sorularım</span>
    </a>
  </div>

  <div class="item">
    <a routerLink="/">
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
      <span class="title">Favoriler</span>
    </a>
  </div>-->

<!--  <div class="item">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="title">Ana Sayfa</span>
    </a>
  </div>

  <div class="item">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="title">Ana Sayfa</span>
    </a>
  </div>-->
</div>
