<mat-sidenav-container id='drawer-container'>
  <mat-sidenav
    #sidenav
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    position='start'
    [fixedTopGap]="(isHandset$ | async) ? 0 : 64"
    fixedInViewport
    (openedStart)='sidenavOpenedStart()'
    (closedStart)='sidenavClosedStart()'
  >
    <ng-container *ngComponentOutlet='NavDrawerComponent' />
  </mat-sidenav>

  <mat-sidenav
    #sheet
    position='end'
    fixedInViewport
    [fixedTopGap]="mode === 'side' ? 64 : 0"
    [mode]='mode'
    (openedStart)='sheetOpenedStart()'
    (closedStart)='sheetClosedStart()'
  >
    <ng-container *ngComponentOutlet='SideSheetComponent' />
  </mat-sidenav>

  <mat-sidenav-content>
    <app-top-app-bar appSticky (openSheet)='loadSidenavSheetComponent(); sheet.toggle()' />

<!--    <app-mini-guide-renderer />-->

    <main>
      <div id='content'>
        <div class='my-content'>
          <router-outlet />
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
